.card {
    width: 40em;
    height: 210px;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 10px;
    position: relative;
    color: #fff;
    box-sizing: border-box;
    transition:  all .5s;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    backdrop-filter: blur(3px);
    background-color: rgba(white, 0.1);
    &:hover {
        padding: 0 20px;
        .img-box {
            top: 30px;  
            width: 150px;
            height: 150px;
            border: 1px solid rgba(white, 0.4);
            border-radius: 50%;
        }
        h1 {
            top: 2em;
            right: 26px;
        }
        h4 {
            opacity: 1;
            top: 76px;
        } 
        .describe {
            opacity: 1;
            top: 110px;
        }
        .KnowMore {
            right: 50px;
            opacity: 1;
        }

    }
    .img-box {            
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        transition: all .5s ease;
        transition-delay: .1s;
        img {
            width: 100%;
            height: 100%;
            /**保持原有图片比例，并裁切长边 */
            object-fit: cover;
        }
    }
    h1 {
        position: absolute;
        top: 120px;
        right: 20px;
        margin-top: 6px;
        margin-bottom: 10px;
        transition: all .5s ease;
    }
    h4 {
        opacity: 0;
        transition: all .5s;
        position: absolute;
        top: 200px;
        right: 1em;
        font-size: 16px;
        padding:0px 30px 6px 0;
        margin: 0;
        box-sizing: border-box;
        border-bottom: 1px solid #e5e5e5;
    }
    .describe {
        opacity: 0;
        transition: all .5s;   
        position: absolute;
        top: 200px;
        font-size: 12px;
        right: 15px;
        width: 9em;
    }
    .KnowMore {
        opacity: 0;
        position: absolute;
        bottom: 20px;
        right: -100px;
        transition: all .5s ease;
        
        button {
            border: none;
            border: 1px solid #fff;
            background: rgba(255,255,255,0.2);
            width: 100px;
            height: 36px;
            border-radius: 20px;
            cursor: pointer;
        }
    }
}