.home {
    background-image: url('../../assets/a1f16-q4nez.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 20px 20px;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: whitesmoke;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .date {
            .time {
                display: flex;               
                span {
                    font-size: 6em;
                    height: 80px;
                    line-height: 80px;
                    text-shadow: 2px 2px 2px rgba(42, 42, 42, 0.386);
                    
                }
                .weather {
                    display: flex;
                    flex-direction: column-reverse;
                    font-size: 1.4em;
                    margin-left: .4em;
                }
            }
            .datetime {
                margin: 10px auto;
            }
        }
        .user {
            min-width: 13em;
        }
    }
    .confirmButton {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        height: 60px;
        width: 30%;
        min-width: 200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
        -delay: 1s;
    }
    // 点击完确认按钮的动画
    .isConfirm {
        animation: confirm 1s ease-in-out forwards;
        animation-delay: .2s;
    }
    @keyframes confirm {
        20% {
            transform: scale(0.6);
            transform-origin: 0%;
        }
        50% {
            left: 50%;
        }
        100% {
            left: -10%;
            opacity: 0;
        }
    }
    .weartherBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width:80%;
        overflow: auto;
        .weatherItem  {
            width: 10%;
            min-width: 10em;
            min-height: 90px;
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            margin: 0 10px;
            padding-top: .5em;
            box-sizing: border-box;
            span {
                margin: .5em;
            }
            i {
                margin: 0;
                transform: scale(2.6);
            }
        }
       
    }
    // 天气盒子动画
    .weatherMargin  {
        margin-top: 15rem;
    }
    .cancelMargin {
        margin-top: 3em;
    }
    .foodBox {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width:80%;
        flex-wrap: wrap;
        .foodItem {
            margin: 20px;
            min-width: 30em;
            height: 260px;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            transition: all .3s ease-in-out;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(1);
                transition: all .3s ease-in-out;
            }
            .description {
                position: absolute;
                bottom: 30px;
                right: 20px;
            }
            .mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.066),rgba(0, 0, 0, 0.603));
                .title {
                    position: absolute;
                    bottom: 60px;
                    right: 20px;
                    font-size: 24px;
                    transition: all .3s ease-in-out;
                }
                .place {
                    position: absolute;
                    bottom: 30px;
                    right: 20px;
                    transition: all .3s ease-in-out;
                    color: aqua;
                }
            
            }
            &:hover {
                transform: translateY(-10px);
                img {
                    filter: none;
                }
                .title {
                    bottom: 70px;
                }
                .place {
                    bottom: 40px;
                }
            }
        }
        .cancelFliter {
            img {
                filter:none;
                transition-delay: 1s;
            }
        }
    }
    .footer {
        margin-top: 30px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: .6em;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.096),rgba(0, 0, 0, 0.8));
    }
}

.ItemBox {
    margin: 30px auto;
    transition: all .6s ease-in-out;
    transition-delay: 1s;
    .BoxTitle {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15px;
        font-size: 1.3em;
    }
}



.my-flex {
    display: flex;
    align-items: center;
}
i {
    margin-right: 10px;
}
.primary {
    min-width: 80px;
    height: 42px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clearButton {
    backdrop-filter: blur(3px);
    background-color: rgba(white, 0.1);
    border: 1px solid rgba(white, 0.1);
    border-radius: 100px;
    box-shadow: 2px 2px 2px rgba(black, 0.1);
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: rgba(white, 0.2);
      border: 1px solid rgba(white, 0.3);
    }
  }

.openDoor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: var(--theme-background);
    animation: close 1s ease-in-out forwards;
    animation-delay: .3s;
  }
  
@keyframes close {
  0% {
      opacity: 1;
      background-color: var(--theme-background);
      clip-path: circle(100%);      
  }
  100% {
      opacity: 0;
      background-color: rgb(183, 183, 183);
      clip-path: circle(0% at 50% 50%);
  }
}